body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
div {
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  border-radius: 30px;
  font-size: 28px;
  color: white;
  flex-direction: column;
}

button {
  cursor: pointer;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    background-color: black;
    color: white;
    scale: 1.2;
  }
}
